.footer-container {
    display: flex;
    justify-content: space-around;
    padding: 2rem;
    background-color: #f8f9fa;
    color: #343a40;
    margin-top: 2rem;
    border-top: 2px solid #e9ecef;

}

.footer-section {
    flex: 1;
    margin: 0 1rem;
}

.footer-section h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #28a745; /* Green tone */
}

.footer-section p, .footer-section a {
    font-size: 1rem;
    color: #6c757d; /* Medium gray */
    text-decoration: none;
}

.footer-section a:hover {
    color: #28a745; /* Green tone */
}

.footer-bottom {
    text-align: center;
    padding: 1rem;
    background-color: #e9ecef; /* Light gray background */
    color: #343a40; /* Dark text color */;
}

.footer-bottom a {
    color: #28a745; /* Green tone */
    text-decoration: none;
}

.footer-bottom a:hover {
    color: #218838; /* Darker green tone */
    text-decoration: underline;
}

.ListBottom {
    list-style-type: none;
    text-align: center;
}
