footer {
    position: relative;
    bottom: 0;
    left: 0;
    margin-top: 1.5rem;
    width: 100%;
    background-color: green;
    color: #f9f9f9;
    padding: 1rem;
    text-align: center;
    font-size: 5rem;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

footer a {
    color: #61dafb;
    text-decoration: none;
    transition: color 0.3s ease;
}

footer a:hover {
    color: #33a2db;
    text-decoration: underline;
}

p {
    color : #f9f9f9 !important;
    font-size: 1rem !important;
}