.navbar {
    background-color: #105E26; /* Emerald green theme */
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}

.navbar-title {
    font-size: 2.3rem;
    font-weight: bold;
    font-family: 'JetBrains Mono', monospace;
}

.navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

.navbar-links li {
    font-family: 'JetBrains Mono', monospace;
}

.navbar-links a {
    text-decoration: none;
    color: #f1be9b;
    font-size: 1.1rem;
    transition: color 0.3s ease;
}

.navbar-links a:hover {
    color: #a8e6cf;
}